extends layout

block content
	h1= Test
	p Welcome to my test

	header
	h3.main-title test
		ul
		li
		a(href="/plugin") Start Player w. Plugin
		li
		a(href="/streamInfo") View Stream Info
		li
		a(href="/streamHistory") View Stream History
		li
		a(href="/playerEvents") View Player Events
		li
		a(href="/bitrateChanges") View Bitrate Changes
		li
		a(href="/playerStatistics") View Player Statistics
		li
		a(href="/playerErrors") View Player Errors


